body {
    font-family: "Gill Sans", sans-serif;
    font-family: 'Noto Sans JP', sans-serif;
    background-color: #FECC2B;
}

body, html {
    overflow-y: hidden;
}

#root {
    background-color: #FFF8F4;
    border-radius: 10px;
    box-shadow: 10px 10px 0 #6C1838;
    max-width: 420px;
    padding: 20px;
    margin: 30px auto;
    max-height: calc(100vh - 100px);
    overflow-y: auto;
    scrollbar-width: none;
}

@media screen and (max-width: 420px) {
    #root {
        max-height: calc(80vh - 100px);   
    }
}

#root::-webkit-scrollbar {
    display: none;
}

@media screen and (max-width: 490px) {
    body {
        padding: 0 18px 0 8px;
    }
}

.pungenerator {

}

.pungenerator-display {
    font-family: 'DotGothic16', sans-serif;
    color: #FFF8F4;
    font-size: 30px;
    font-weight: bold;
    background-color: #00D2BF;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    box-sizing: border-box;
    min-height: 200px;
    padding: 10px;
}

.pungenerator-action-button-list {
    font-size: 0;
    padding: 10px 0 20px;
}

.pungenerator-action-button {
    color: #6C1838;
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
    text-align: center;
    background-color: #FFF8F4;
    display: inline-block;
    border: 2px solid #6C1838;
    border-radius: 2px;
    min-width: 42px;
    padding: 0 8px;
    box-sizing: border-box;
    box-shadow: 2px 2px 0 #6C1838;
    cursor: pointer;
    user-select: none;
    transition: box-shadow 0.1s;
    text-decoration: none;
}

.pungenerator-action-button:active {
    box-shadow: inset 1px 1px 1px #6C1838,
                0px 0px 0 #6C1838;
}

.pungenerator-action-button:nth-child(n + 2) {
    margin-left: 8px;
}

.punlist-item {
    position: relative;
    border-bottom: 2px solid #6C1838;
    padding: 6px 4px 10px;
    transition: background-color 0.1s, color 0.1s;
    user-select: none;
}

.punlist-item-content {
    cursor: pointer;
    max-width: calc(100% - 40px);
}

.punlist-item-text {
    color: #6C1838;
    font-size: 16px;
    font-weight: bold;
    transition: color 0.1s;
}

.punlist-item-clicked {
    color: #ffffff;
    background-color: #6C1838;
}

.punlist-item-clicked .punlist-item-text {
    color: #ffffff;
}

.punlist-item-date {
    font-size: 12px;
    margin-top: 4px;
}

.punlist-item:nth-child(n + 2) {
    margin-top: 20px;
}

.punlist-item-delete-button {
    position: absolute;
    top: calc(50% - 10px);
    right: 10px;
    padding: 4px;
    width: 30px;
    height: 30px;
    box-sizing: border-box;
    cursor: pointer;
}

.punlist-item-delete-button-icon {
    display: block;
    width: 100%;
    height: 100%;
}

.punlist-item-notification-clipboard {
    color: #FFF8F4;
    font-size: 14px;
    top: 0;
    right: 0;
    display: block;
    position: absolute;
    background-color: #FECC2B;
    padding: 4px 10px;
    transition: opacity 0.2s;
}

.punlist-item-notification-clipboard-hidden {
    opacity: 0;
}
